--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio
fastapi
uvicorn[standard]
python-multipart
pymupdf
python-pptx
pytesseract
Pillow
rank_bm25
python-dotenv
langchain
langchain-community
chromadb
tiktoken
openai-whisper
sentence-transformers
langdetect
langchain-groq
edge-tts
azure-storage-blob
redis
azure-data-tables
slowapi

langchain-huggingface
langchain-chroma

# Testing
pytest
pytest-asyncio
httpx