--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio
fastapi
uvicorn[standard]
python-multipart
pypdf
python-pptx
python-dotenv
langchain
langchain-community
faiss-cpu
tiktoken
openai-whisper
sentence-transformers
langdetect
langchain-groq
edge-tts