name: Trigger auto deployment for adk-frontend

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/adk-frontend-AutoDeployTrigger-2e58d077-9a79-488b-a98c-ba1d7b283200.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.ADKFRONTEND_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.ADKFRONTEND_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.ADKFRONTEND_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: adkregistry123.azurecr.io
          registryUsername: ${{ secrets.ADKFRONTEND_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.ADKFRONTEND_REGISTRY_PASSWORD }}
          containerAppName: adk-frontend
          resourceGroup: adk-rg
          imageToBuild: adkregistry123.azurecr.io/adk-frontend:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


